<!-- Header -->
<%- include('../Z_Common_Code/userDashboard/header.ejs') %>

<!-- Navbar -->
<%- include('../Z_Common_Code/userDashboard/navbar.ejs') %>

<div class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header  bg-dark text-white p-3">
                        <h3>Forget Password</h3>
                    </div>

                    <div class="card-body">
                        <!-- Find Account by Email -->
                        <section id="email-section" class="p-2">
                            <h5>Enter your Registered mail address to search your account.</h5>
                            <form id="email-form">
                                <div class="mb-3 pt-3">        
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Registered Email">
                                    <div id="email-error" class="text-danger"></div>
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Search</button>
                            </form>
                        </section>

                        <!-- OTP Verification Section -->
                        <section id="otp-section" class="hidden p-2">
                            <h5>An OTP has been sent to your email. Please verify with your otp to proceed further.</h5>
                            <form id="otp-form">
                                <div class="mb-3 pt-3">
                                    <label for="otp" class="form-label">OTP</label>
                                    <input type="text" id="otp" name="otp" class="form-control" placeholder="One Time Password">
                                    <div id="otp-error" class="text-danger"></div>
                                </div>
                                <button type="submit" class="btn btn-primary w-25">Verify</button>
                            </form>
                        </section>

                        <!-- Password Reset Section -->
                        <section id="Password-Section" class="hidden p-2">
                            <h2>Reset Password</h2>
                            <form id="forgotPassword-Form">
                                <div class="mb-3 pt-3">
                                    <label for="newPassword" class="form-label">New Password</label>
                                    <input type="password" id="newPassword" class="form-control">
                                    <div id="new-password-error" class="text-danger"></div>
                                </div>

                                <div class="mb-3 pt-3">
                                    <label for="confirmPassword" class="form-label">Confirm New Password</label>
                                    <input type="password" id="confirmPassword" class="form-control">
                                    <div id="confirm-password-error" class="text-danger"></div>
                                </div>

                                <button type="submit" class="btn btn-success w-100">Update Password</button>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Toastify JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.js"></script>
<script>
    let storedEmail = ''

    const emailForm = document.getElementById('email-form')
    const emailSection = document.getElementById('email-section')
    const otpForm = document.getElementById('otp-form')
    const otpSection = document.getElementById('otp-section')
    const forgotPasswordForm = document.getElementById('forgotPassword-Form')
    const PasswordSection = document.getElementById('Password-Section')

    emailForm.addEventListener('submit', async function(event){
        event.preventDefault();

        document.getElementById('email-error').textContent= '' ;

        storedEmail = document.getElementById('email').value.trim() ; 

        let valid = true ;

        if(!storedEmail){
            document.getElementById('email-error').textContent = 'Email is Required'
            valid = false ;
        } else if (!/\S+@\S+\.\S+/.test(storedEmail)) {
            document.getElementById('email-error').textContent = 'Please enter a valid email address';
            valid = false;
        }

        if (valid) {
            
            try {
                const response = await fetch('/passwordOtp',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email: storedEmail,
                    }),    
                })

                const result = await response.json();

                if(response.ok){
                    Toastify({
                        text : result.msg || 'Enter an OTP send to your registered mail',
                        duration : 3000,
                        close : true , 
                        gravity : 'top',
                        position : 'right',
                        style : {
                            background : result.color || "#28a745"
                        },
                    }).showToast()
                    emailSection.classList.add('hidden');
                    otpSection.classList.remove('hidden');
                }else{
                    Toastify({
                        text : result.msg  || 'Email not Found ',
                        duration : 3000,
                        close : true , 
                        gravity : 'top',
                        position : 'center',
                        style : {
                            background :  "#dc3545"
                        },
                    }).showToast()
                }
            } catch (error) {
                console.log('Error', error);
                Toastify({
                    text :  'An unexpected error occurred. Please try again. !',
                    duration : 3000,
                    close : true ,
                    gravity : 'top',
                    position : 'right',
                        style : {
                            background : "#dc3545"
                        },
                }).showToast()
            }
        }
    })

    otpForm.addEventListener('submit', async function(event){
        event.preventDefault();

        document.getElementById('otp-error').textContent= '' ;

        const otp = document.getElementById('otp').value.trim() ; 

        let valid = true ;

        if(!storedEmail){
            document.getElementById('otp-error').textContent = 'otp is Required'
            valid = false ;
        }

        if (valid) {
            
            try {
                const response = await fetch('/verifyOtp',{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email: storedEmail,
                        otp
                    }),    
                })

                const result = await response.json();

                if(response.ok){
                    Toastify({
                        text : 'Verified',
                        duration : 3000,
                        close : true , 
                        gravity : 'top',
                        position : 'right',
                        style : {
                            background :  "#28a745"
                        },
                    }).showToast()
                    otpSection.classList.add('hidden');
                    PasswordSection.classList.remove('hidden');
                }else{
                    Toastify({
                        text : ' In-Correct Otp',
                        duration : 3000,
                        close : true , 
                        gravity : 'top',
                        position : 'center',
                        style : {
                            background :  "#dc3545"
                        },
                    }).showToast()
                }
            } catch (error) {
                console.log('Error', error);
                Toastify({
                    text :  'An unexpected error occurred. Please try again. !',
                    duration : 3000,
                    close : true ,
                    gravity : 'top',
                    position : 'right',
                        style : {
                            background : "#dc3545"
                        },
                }).showToast()
            }
        }
    })

    forgotPasswordForm.addEventListener('submit', async function(event){
        event.preventDefault();

        document.getElementById('new-password-error').textContent= '' ;
        document.getElementById('confirm-password-error').textContent= '' ;


        const  newPassword = document.getElementById('newPassword').value.trim() ; 
        const confirmPassword = document.getElementById('confirmPassword').value.trim() ; 


        let valid = true ;

        if(!newPassword){
            document.getElementById('new-password-error').textContent = 'Password is Required'
            valid = false ;
        } else if (newPassword.length < 8) {
            document.getElementById('new-password-error').textContent = 'Password must be at least 8 characters.';
            valid = false;
        }

        if(!confirmPassword){
            document.getElementById('confirm-password-error').textContent = 'Confirm Password is Required'
            valid = false ;
        }else if (newPassword !== confirmPassword) {
            document.getElementById('confirm-password-error').textContent = 'Passwords do not match.';
            valid = false;
        }

        if (valid) {
            
            try {
                const response = await fetch('/resetPassword',{
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email: storedEmail,
                        password: newPassword,
                    }),    
                })

                const result = await response.json();

                if(response.ok){
                    Toastify({
                        text : 'Password Reset Successful! Please log in with your new password. ',
                        duration : 1900,
                        close : true , 
                        gravity : 'top',
                        position : 'right',
                        style : {
                            background :  "#28a745"
                        },
                    }).showToast()
                    setTimeout(() => {
                        window.location.href = '/login';
                    }, 2000);
                }else{
                    Toastify({
                        text : ' In-Correct Otp',
                        duration : 3000,
                        close : true , 
                        gravity : 'top',
                        position : 'center',
                        style : {
                            background :  "#dc3545"
                        },
                    }).showToast()
                }
            } catch (error) {
                console.log('Error', error);
                Toastify({
                    text :  'An unexpected error occurred. Please try again. !',
                    duration : 3000,
                    close : true ,
                    gravity : 'top',
                    position : 'right',
                        style : {
                            background : "#dc3545"
                        },
                }).showToast()
            }
        }
    })


</script>
     
<!-- Footer -->
<%- include('../Z_Common_Code/userDashboard/footer.ejs') %>