<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion Feet</title>
    <!-- bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- combined css -->
    <link rel="stylesheet" href="style.css">
    
    <!-- icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">   
</head>
<body>
    
<div class="outer_bg_color">
        <div>
            <div class="bg-white d-flex justify-content-between p-2 logo">
                <a class="text-dark fs-2 text-center" href="/">Fashion-Feet</a>
                
                <a class="text-dark fs-2 text-center" href="/">HO<i class="bi bi-house-fill bi fs-3"></i>E</a>

            </div>
        </div>
        <div class="container inner_Coustomz_registration pb-2 mt-5">
        <!-- FORM -->
        <form action="/signup" method="post" id="registration-form" onsubmit="return validateForm()">
            <h2 class="text-center p-4"><u>Create an Account</u></h2>
        
            <p class="text-success mx-2 fs-8"><strong><%= locals.message %></strong></p>
            <p class="text-danger text-center"><%= locals.txt %></p>
        
            <div class="row mb-3">
                <div class="col">
                    <label for="first-name" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="fname" id="first-name">
                    <span class="text-danger" id="first-name-error"></span>
                </div>
                <div class="col">
                    <label for="last-name" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="lname" id="last-name">
                    <span class="text-danger" id="last-name-error"></span>
                </div>
            </div>
        
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <div class="input-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Registered Email">
                    <button type="button" class="btn btn-success" id="send-otp-btn">Send OTP</button>
                </div>
                <div class="d-flex justify-content-between">
                    <span id="email-error" class="text-danger"></span>
                    <span id="timer" class="form-text text-white text-end"></span>
                </div>
            </div>
        
            <div class="mb-3">
                <label for="otp" class="form-label">Enter OTP</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="otp" id="otp" placeholder="Enter the OTP">
                    <button type="button" class="btn btn-success" id="verify-otp">Verify</button>
                </div>
                <span id="otp-error" class="text-danger"></span>
            </div>
        
            <div class="mb-3">
                <label for="mobile" class="form-label">Mobile Number</label>
                <div class="input-group">
                    <span class="input-group-text">+91</span>
                    <input type="tel" class="form-control" name="mob" id="mobile">
                </div>
                <span class="text-danger" id="mobile-error"></span>
            </div>
        
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
                <span class="text-danger" id="password-error"></span>
            </div>
        
            <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="reppassword" id="confirm-password">
                <span class="text-danger" id="confirm-password-error"></span>
                <div class="text-end mt-1" >
                    <a class="text-white" href="/signup">RESET</a>
                </div>
            </div>
        
            <div class="text-center mb-3 pt-2">
                <button type="submit" class="btn btn-primary">SIGN UP</button>
            </div>
        </form>
        
            
            <p class="text-center mb-2">Already have an account? <a href="/login">LOGIN</a></p>
        </div>

    </div>
    
<script>
    let otpSent = false;
    let otpVerified = false;
    let timerDuration = 60;  // in seconds
   

    //  timer
    function startTimer(duration, display) {
        let timeLeft = duration;
            let timeInterval = setInterval(()=> {
                timeLeft--;
                const minutes = Math.floor(timeLeft / 60);
                const seconds = timeLeft % 60;
                display.textContent = `${minutes}m ${seconds}s`; 
                if (timeLeft <= 0) {
                    clearInterval(timeInterval)
                    display.textContent = "Time's up! Please resend OTP.";
                }   
            },1000)
    }

    //  MailOtp
    document.getElementById('send-otp-btn').addEventListener('click', async function() {
        let email = document.getElementById('email').value.trim();
        if (!email) {
            document.getElementById('email-error').textContent = 'Email is required.';
            return;
        }

        let emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailPattern.test(email)) {
            document.getElementById('email-error').textContent = 'Invalid email format.';
            return;
        }

        try {  
            const response = await fetch('/mailOtp', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ email : email })
            });
            const result = await response.json();
            // console.log(result);
            
            if (response.ok) {
                otpSent = true;
                otpVerified = false
                // alert("Verification OTP sent successfully");
                document.getElementById('email-error').textContent = result.msg;
                document.getElementById('email-error').classList.remove('text-danger');
                document.getElementById('email-error').classList.add('text-success');
                document.getElementById('email').readOnly = true; // readOnly the email field
                document.getElementById('timer').textContent = ''
                startTimer(timerDuration, document.getElementById('timer'));

            } else if(!response.ok){
                document.getElementById('email-error').textContent = result.msg;
                document.getElementById('email').readOnly = true;

            }else{
                document.getElementById('email-error').textContent = 'Failed to send OTP. Please try again.';
            }
        } catch (error) {
            document.getElementById('email-error').textContent = 'An error occurred. Please try again ->later';
            console.log(error.message);  
        }
    });

    // verifyOtp
    document.getElementById('verify-otp').addEventListener('click', async () => {

        const email = document.getElementById('email').value.trim();
        const otp = document.getElementById('otp').value.trim();
        
        if (!otp) {
            document.getElementById('otp-error').textContent = 'OTP is required.';
            return ;
        } else if (!otpSent) {
            document.getElementById('otp-error').textContent = 'You must send email to verify your email.';
            return ;
        }
        try{
            const response = await fetch('/verifyOtp', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 
                    email,
                    otp: otp
                })
            })

            const result = await response.json();

            if (result.success) {
                otpVerified = true
                document.getElementById("otp-error").innerText = result.msg || 'Verified successfully';
                document.getElementById('email-error').textContent = 'Submit all Data before Otp Expires';
                document.getElementById('otp-error').classList.remove('text-danger');
                document.getElementById('otp-error').classList.add('text-success');
                document.getElementById('verify-otp').disabled = true;
                document.getElementById('otp').readOnly = true; // readOnly the otp field
                document.getElementById('send-otp-btn').disabled = true;
            } else {
                otpVerified = false
                document.getElementById("otp-error").textContent =  result.msg || "Otp is in-correct"
            }
        } catch (error) {
            document.getElementById('otp-error').innerText = 'An error occurred. Please try again.';
            console.log(error.message)
        }
    })


    //  FormValidation
    function validateForm() {
        let firstName = document.getElementById('first-name').value.trim();
        let lastName = document.getElementById('last-name').value.trim();
        let email = document.getElementById('email').value.trim();
        let otp = document.getElementById('otp').value.trim();
        let mobile = document.getElementById('mobile').value.trim();
        let password = document.getElementById('password').value.trim();
        let confirmPassword = document.getElementById('confirm-password').value.trim();
        let isValid = true;

        // Reset error messages
        document.getElementById('first-name-error').textContent = '';
        document.getElementById('last-name-error').textContent = '';
        document.getElementById('email-error').textContent = '';
        document.getElementById('otp-error').textContent = '';
        document.getElementById('mobile-error').textContent = '';
        document.getElementById('password-error').textContent = '';
        document.getElementById('confirm-password-error').textContent = '';

        if (!firstName) {
            document.getElementById('first-name-error').textContent = 'First name is required.';
            isValid = false;
        }

        if (!lastName) {
            document.getElementById('last-name-error').textContent = 'Last name is required.';
            isValid = false;
        }

        if (!email) {
            document.getElementById('email-error').textContent = 'Email is required.';
            isValid = false;
        } else {
            let emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailPattern.test(email)) {
                document.getElementById('email-error').textContent = 'Invalid email format.';
                isValid = false;
            }
        }

        if (!otp) {
            document.getElementById('otp-error').textContent = 'OTP is required.';
            isValid = false;
        }

        if (!mobile) {
            document.getElementById('mobile-error').textContent = 'Mobile number is required.';
            isValid = false;
        }

        if (!password) {
            document.getElementById('password-error').textContent = 'Password is required.';
            isValid = false;
        } else if (password.length < 8) {
            document.getElementById('password-error').textContent = 'Password must be at least 8 characters.';
            isValid = false;
        }

        if (!confirmPassword) {
            document.getElementById('confirm-password-error').textContent = 'Confirm your password.';
            isValid = false;
           
        } else if (password !== confirmPassword) {
            document.getElementById('confirm-password-error').textContent = 'Passwords do not match.';
            isValid = false;
            
        }

        if (!otpSent) {
            document.getElementById('otp-error').textContent = 'Please verify your email by sending OTP.';
            isValid = false;
      
        } else if(!otpVerified) {
            document.getElementById('otp-error').textContent = 'You must verify the OTP before submitting.';
            isValid = false;
        }

        return isValid;
    }
</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-wsyH2BZZvx0v9FioObFSCV5pW6sX78OwRPH5cLPwVuoZgKGT3XWzgn/plt6ueueK" crossorigin="anonymous"></script>
</body>
</html>
